<!DOCTYPE html>
<html>
<head>
	<title>Alchemie</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
</head>
<body>
    <!-- modals -->
    <div id="fn-modal-overlay" class="css-overlay" clickcontroller="closeModals"></div>
    <!--<div class="container modal css-password-change-2fa-modal fn-password-change-2fa-modal fn-modal" tabindex="-1" role="dialog">-->
    <div class="modal fn-purchase-reco-modal css-purchase-reco-modal fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title css-float-center css-modal-title-center">Purchase RECO Tokens</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="css-reco-purchase-description">
                        You are about to place an order converting your entire Bitcoin balance to RECO tokens. The price at which this conversion will take place along with the total amount of tokens purchased will be shown below.
                    </div>
                    <div class="css-amounts-section">
                        <div class="css-reco-price">
                            <div class="css-reco-price-label">Price:</div>
                            <div class="css-reco-price-value fn-reco-price-value"></div>
                        </div>
                        <div class="css-reco-amount-in-btc">
                            <div class="css-reco-amount-total-purchase-label">Total (RECO): </div>
                            <div class="css-reco-amount-total-purchase-value fn-total-reco-amount"></div>
                        </div>
                    </div>
                </div>
                <div class="css-reco-purchase-footer">
                    <div class="css-reco-purchase-button" clickcontroller="buyRECOtokensnow">Buy Now</div>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="css-center-button btn btn-danger" clickcontroller="closeModals">Ok</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-license-agreement-modal css-license-agreement-modal fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title css-float-center css-modal-title-center">License Agreement</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                            <div class="css-license-agreement-body">
                                A licensing agreement is a legal contract between two parties, known as the licensor and the licensee. In a typical licensing agreement, the licensor grants the licensee the right to produce and sell goods, apply a brand name or trademark, or use patented technology owned by the licensor. In exchange, the licensee usually submits to a series of conditions regarding the use of the licensor's property and agrees to make payments known as royalties.

                                Licensing agreements cover a wide range of well-known situations. For example, a retailer might reach agreement with a professional sports team to develop, produce, and sell merchandise bearing the sports team's logo. Or a small manufacturer might license a proprietary production technology from a larger firm to gain a competitive edge rather than expending the time and money trying to develop its own technology. Or a greeting card company might reach agreement with a movie distributor to produce a line of greeting cards bearing the image of a popular animated character.

                                ELEMENTS OF A TYPICAL LICENSING AGREEMENT
                                Because of the legal ground they must cover, some licensing agreements are fairly lengthy and complex documents. But most such agreements cover the same basic points. These include the scope of the agreement, including exclusivity or territorial restrictions; financial aspects including required advances, royalty rates, and how royalties are calculated; guarantees of minimum sales; time schedules involving "to market" dates, length of contract, and renewal options; the lessor's rights of monitoring and quality control, including procedures to be followed; minimum inventories required to be maintained; finally, returns and allowances.

                                One of the most important elements of a licensing agreement covers the financial arrangement. Payments from the licensee to the licensor usually take the form of guaranteed minimum payments and royalties on sales. Royalties typically range from 6 to 10 percent, depending on the specific property involved and the licensee's level of experience and sophistication. Not all licensors require guarantees, although some experts recommend that licensors get as much compensation up front as possible. In some cases, licensors use guarantees as the basis for renewing a licensing agreement. If the licensee meets the minimum sales figures, the contract is renewed; otherwise, the licensor has the option of discontinuing the relationship.

                                Another important element of a licensing agreement establishes the time frame of the deal. Many licensors insist upon a strict market release date for products licensed to outside manufacturers. After all, it is not in the licensor's best interest to grant a license to a company that never markets the product. The licensing agreement will also include provisions about the length of the contract, renewal options, and termination conditions.

                                Most licensing agreements also address the issue of quality. For example, the licensor may insert conditions in the contract requiring the licensee to provide prototypes of the product, mockups of the packaging, and even occasional samples throughout the term of the contract. Of course, the best form of quality control is usually achieved before the fact—by carefully checking the reputation of the licensee. Another common quality-related provision in licensing agreements involves the method for disposal of unsold merchandise. If items remaining in inventory are sold as cheap knockoffs, it can hurt the reputation of the licensor in the marketplace.

                                Another common element of licensing agreements covers which party maintains control of copyrights, patents, or trademarks. Many contracts also include a provision about territorial rights, or who manages distribution in various parts of the country or the world. In addition to the various clauses inserted into agreements to protect the licensor, some licensees may add their own requirements. They may insist on a guarantee that the licensor owns the rights to the property, for example, or they may insert a clause prohibiting the licensor from competing directly with the licensed property in certain markets.
                            </div>
                    <div class="css-licensing-agreement-footer">
                        <div class="css-licensing-agreement-button" clickcontroller="agreeToTermsAndConditions">I Agree</div>
                    </div>
                </div>

                <!--<div class="modal-footer">-->
                <!--<button type="button" class="css-center-button btn btn-danger" clickcontroller="closeModals">Ok</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-validating fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title css-float-center css-modal-title-center">Validating</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <div id="wave">
                                <span class="dot"></span>
                                <span class="dot"></span>
                                <span class="dot"></span>
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="css-center-button btn btn-danger" clickcontroller="closeModals">Ok</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-validation-complete-modal fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title css-float-center css-modal-title-center">Validation Complete </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <div class="css-validation-checkbox"></div>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="css-center-button btn btn-danger" clickcontroller="closeModals">Ok</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-payment-received-modal fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content css-modal-order-content">
                <div class="modal-header">
                    <h5 class="modal-title">Payment Recieved</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <!--<p>Review your order below and click 'Confirm' to complete your request.</p>-->
                    <!--<div id="SendEmailQRCode" class="css-center-qr-code-in-modal">&lt;!&ndash;<img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:2NCWko9dFrJt5JFwxHgMR4zQHHPoNHZ6tq2"></img>&ndash;&gt;</div>-->
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="css-float-left btn btn-success" clickcontroller="confirmProductOrder">Confirm</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-password-change-2fa-modal fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verify Your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Please verify your account by entering your six digit code from Google Authenticator.</label>
                            <input type="text" id="change-password-2fa-input" class="form-control css-change-password-2fa-input" name="username" placeholder="000000">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-danger" clickcontroller="twoFactorNewPassword">Verify</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-2fa-not-attemptable fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Too Many Attempts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>You have exceeded the number of 2 factor authentication attempts permitted at this time. Please try again later. </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-danger" clickcontroller="closeModals">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-add-withdrawal-address-2fa-modal fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verify Your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Please verify your account by entering your six digit code from Google Authenticator.</label>
                            <input type="text" id="add-withdrawal-address-2fa-input" class="form-control css-add-withdrawal-address-2fa-input" name="username" placeholder="000000">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-danger" clickcontroller="twoFactorAddWithdrawalAddress">Verify</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-confirm-delete-withdrawal-address-modal fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Address Removal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Are you sure you want to remove this withdrawal address from your account?</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-success" clickcontroller="confirmDeleteWithdrawalAddress">Ok</button>
                    <button type="button" class="css-float-right btn btn-danger" clickcontroller="closeModals">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-send-email-modal fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content css-modal-order-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <!--<p>Review your order below and click 'Confirm' to complete your request.</p>-->
                    <div class="container-fluid">
                        <div class="row css-footer-dillon-gage-product-modal">
                            <div class="css-dillon-gage-footer-label-modal">
                                <h3>Total Due:</h3>
                            </div>
                            <div class="css-dillon-gage-footer-total-modal">
                                <h3 class="fn-email-cost">0.00000008 BTC</h3>
                            </div>
                        </div>
                    </div>
                    <h6 class=""> Send a payment to the QR code with your wallet and your order will be processed. </h6>
                    <div id="SendEmailQRCode" class="css-center-qr-code-in-modal"><!--<img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:2NCWko9dFrJt5JFwxHgMR4zQHHPoNHZ6tq2"></img>--></div>
                    <div class="css-coin-address-footer-total-modal">
                        <h5 class="fn-email-coin-address css-email-coin-address"></h5>
                    </div>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="css-float-left btn btn-success" clickcontroller="confirmProductOrder">Confirm</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-confirm-place-order fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content css-modal-order-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <!--<p>Review your order below and click 'Confirm' to complete your request.</p>-->
                    <div class="container-fluid">
                        <div class="row css-heading-dillon-gage-product-modal">
                            <div class="css-dillon-gage-heading-label-modal">
                                <b>Product</b>
                            </div>
                            <div class="css-dillon-gage-heading-total-modal">
                                <b>Total (BTC)</b>
                            </div>
                            <div class="css-dillon-gage-heading-amount-modal">
                                <b>Qty</b>
                            </div>
                            <div class="css-dillon-gage-heading-price-modal">
                                <b>Unit Price (BTC)</b>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid css-dillon-gage-product-list-modal fn-dillon-gage-product-list-modal">
                        <div class="row css-row-dillon-gage-product-modal">
                            <div class="css-dillon-gage-product-label-modal">
                                <b>Kilogram Gold Bar</b>
                            </div>
                            <div class="css-dillon-gage-product-total-modal">
                                <b class="fn-order-total" associate="1KILOG">0.00000000</b>
                            </div>
                            <div class="css-dillon-gage-amount-modal">
                                <b class="fn-order-qty" associate="1KILOG">0</b>
                            </div>
                            <div class="css-dillon-gage-product-price-modal">
                                <b class="fn-order-unit-price" associate="1KILOG">0.00000000</b>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row css-footer-dillon-gage-product-modal">
                            <div class="css-dillon-gage-footer-label-modal">
                                <h3>Total Due:</h3>
                            </div>
                            <div class="css-dillon-gage-footer-total-modal">
                                <h3 class="fn-final-cost">0.00000008 BTC</h3>
                            </div>
                        </div>
                    </div>
                    <h6 class=""> Send a payment to the QR code with your wallet and your order will be processed. </h6>
                    <div id="DillonGageQRCode" class="css-center-qr-code-in-modal"><!--<img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:2NCWko9dFrJt5JFwxHgMR4zQHHPoNHZ6tq2"></img>--></div>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="css-float-left btn btn-success" clickcontroller="confirmProductOrder">Confirm</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-deposit-modal fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content css-modal-order-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Make a Deposit </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <!--<p>Review your order below and click 'Confirm' to complete your request.</p>-->
                    <h6 class=""> Please send a Bitcoin payment to the QR code shown below with your wallet and your deposit will show up shortly. </h6>
                    <div id="DepositQRCode" class="css-center-qr-code-in-modal"><img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:{{btc-address}}"></img></div>
                </div>
                <!--<div class="modal-footer">-->
                <!--<button type="button" class="css-float-left btn btn-success" clickcontroller="confirmProductOrder">Confirm</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-select-a-gold-address css-modal-select-product-address fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content css-modal-order-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select An Address To Accept Newly Minted Product Tokens</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <p>Add a new Block Unity Product address using the box below.</p>
                    <div class="input-group input-group-lg">
                        <input id="productAddressToAdd" type="text" class="form-control" placeholder="0x0000000000000000000000000000000000000000" aria-describedby="sizing-addon1">
                        <span class="input-group-addon cssCursorPointer" clickcontroller="addProductAddressToAccount"> Add </span>
                    </div>
                    <div class="css-descriptor-withdraw-bitcoin-address">
                        <p> Select a product address below to send tokens to. </p>
                    </div>
                    <div class="css-withdrawal-address-list fn-product-address-list">
                    </div>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="css-float-left btn btn-success fn-show-final-order-button" clickcontroller="showFinalOrder">Proceed</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!-- Main content -->
    <div class="css-main-page">
        <div class="css-main-container">
          <div class="css-title-banner">

          </div>

          <div class="header clearfix">
            <div class="row">
                <div class="css-reit-wallet-title"> REIT Wallet</div>
                <!--<div class="glyphicon glyphicon-glass col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>-->
                <!--<div class="css-image-wallet"></div>-->
                <!--<h3 class="text-muted col-lg-4 col-md-4 col-sm-4 col-xs-4">Alchemie</h3>-->
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {{#if user}}
                            <!-- <li role="presentation"><a href="/">Dashboard</a></li> -->
                            <li role="presentation"><a href="/logout">Logout</a></li>
                        {{else}}
                            <li role="presentation"><a href="/login">Login</a></li>
                            <li role="presentation"><a href="/register">Register</a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>

          </div>

          <div class="row css-main-container-body-row">
            <div class="col-lg-12 fnAlertBox css-alert-box css-main-display">
              {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
              {{/if}}

              {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}}

              {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
              {{/if}}

              {{#if errors}}
                  {{#each errors}}
                      <div class="alert alert-danger">{{msg}}</div>
                  {{/each}}
              {{/if}}

              {{{body}}}
            </div>


          </div>
          <br/>
          <!--<footer class="footer">-->
            <!--<p>Block Unity Inc.</p>-->
          <!--</footer>-->

        </div> <!-- /container -->
    </div>
    <!-- temporary data -->
    <input type="hidden" id="csrf" name="_csrf" associate="{{csrfToken}}">
    <input type="hidden" id="temporary-data-email" associate={{temporary-data-email}}>
    <input type="hidden" id="temporary-data-reset-password-link" associate={{temporary-data-reset-password-link}}>
    <input type="hidden" id="res-locals-host" associate={{host}}>
    <input type="hidden" id="temporary-bitcoin-price" associate={{btc-price}}>
    <input type="hidden" id="btc-api-prefix" associate={{btc-api-prefix}}>
    <input type="hidden" id="btc-address" associate={{btc-address}}>
    <!-- Scripts -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/controller_change.js"></script>
    <script src="/js/controller_click.js"></script>
    <script src="/js/controller_drop.js"></script>
    <script src="/js/view_address_add.js"></script>
    <script src="/js/view_user_messages.js"></script>
    <script src="/js/view_modals.js"></script>
    <script src="/js/view_withdrawal_address_add.js"></script>
    <script src="/js/view_product_address_add.js"></script>
    <script src="/js/view_product_prices.js"></script>
    <script src="/js/view_products.js"></script>
    <script src="/js/websockets-frontend.js"></script>
    <script src="/js/price_interval.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/thirdparty.js"></script>
    <script src="/js/initialize.js"></script> <!-- this script must be last -->
</body>
</html>
