<!DOCTYPE html>
<html>
<head>
	<title>Alchemie</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
</head>
<body>
    <!-- modals -->
    <div id="fn-modal-overlay" class="css-overlay" clickcontroller="closeModals"></div>
    <!--<div class="container modal css-password-change-2fa-modal fn-password-change-2fa-modal fn-modal" tabindex="-1" role="dialog">-->
    <div class="modal fn-password-change-2fa-modal fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verify Your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Please verify your account by entering your six digit code from Google Authenticator.</label>
                            <input type="text" id="change-password-2fa-input" class="form-control css-change-password-2fa-input" name="username" placeholder="000000">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-danger" clickcontroller="twoFactorNewPassword">Verify</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-2fa-not-attemptable fn-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Too Many Attempts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>You have exceeded the number of 2 factor authentication attempts permitted at this time. Please try again later. </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-danger" clickcontroller="closeModals">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-add-withdrawal-address-2fa-modal fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Verify Your Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Please verify your account by entering your six digit code from Google Authenticator.</label>
                            <input type="text" id="add-withdrawal-address-2fa-input" class="form-control css-add-withdrawal-address-2fa-input" name="username" placeholder="000000">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-danger" clickcontroller="twoFactorAddWithdrawalAddress">Verify</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-confirm-delete-withdrawal-address-modal fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Address Removal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Are you sure you want to remove this withdrawal address from your account?</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="css-float-left btn btn-success" clickcontroller="confirmDeleteWithdrawalAddress">Ok</button>
                    <button type="button" class="css-float-right btn btn-danger" clickcontroller="closeModals">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fn-confirm-place-order fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content css-modal-order-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product Invoice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <!--<p>Review your order below and click 'Confirm' to complete your request.</p>-->
                    <div class="container-fluid">
                        <div class="row css-heading-dillon-gage-product-modal">
                            <div class="css-dillon-gage-heading-label-modal">
                                <b>Product</b>
                            </div>
                            <div class="css-dillon-gage-heading-total-modal">
                                <b>Total (BTC)</b>
                            </div>
                            <div class="css-dillon-gage-heading-amount-modal">
                                <b>Qty</b>
                            </div>
                            <div class="css-dillon-gage-heading-price-modal">
                                <b>Unit Price (BTC)</b>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid css-dillon-gage-product-list-modal fn-dillon-gage-product-list-modal">
                        <div class="row css-row-dillon-gage-product-modal">
                            <div class="css-dillon-gage-product-label-modal">
                                <b>Kilogram Gold Bar</b>
                            </div>
                            <div class="css-dillon-gage-product-total-modal">
                                <b class="fn-order-total" associate="1KILOG">0.00000000</b>
                            </div>
                            <div class="css-dillon-gage-amount-modal">
                                <b class="fn-order-qty" associate="1KILOG">0</b>
                            </div>
                            <div class="css-dillon-gage-product-price-modal">
                                <b class="fn-order-unit-price" associate="1KILOG">0.00000000</b>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row css-footer-dillon-gage-product-modal">
                            <div class="css-dillon-gage-footer-label-modal">
                                <h3>Total Due:</h3>
                            </div>
                            <div class="css-dillon-gage-footer-total-modal">
                                <h3 class="fn-final-cost">0.00000008 BTC</h3>
                            </div>
                        </div>
                    </div>
                    <h6 class=""> Send a payment to the QR code with your wallet and your order will be processed. </h6>
                    <div id="DillonGageQRCode" class="css-center-qr-code-in-modal"><!--<img src="https://chart.googleapis.com/chart?chs=250x250&chld=L|2&cht=qr&chl=bitcoin:2NCWko9dFrJt5JFwxHgMR4zQHHPoNHZ6tq2"></img>--></div>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="css-float-left btn btn-success" clickcontroller="confirmProductOrder">Confirm</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <div class="modal fn-select-a-gold-address css-modal-select-product-address fn-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content css-modal-order-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select An Address To Accept Newly Minted Product Tokens</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" clickcontroller="closeModals">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="css-modal-user-message-box fn-modal-user-message-box"></div>
                <div class="modal-body">
                    <p>Add a new Block Unity Product address using the box below.</p>
                    <div class="input-group input-group-lg">
                        <input id="productAddressToAdd" type="text" class="form-control" placeholder="0x0000000000000000000000000000000000000000" aria-describedby="sizing-addon1">
                        <span class="input-group-addon cssCursorPointer" clickcontroller="addProductAddressToAccount"> Add </span>
                    </div>
                    <div class="css-descriptor-withdraw-bitcoin-address">
                        <p> Select a product address below to send tokens to. </p>
                    </div>
                    <div class="css-withdrawal-address-list fn-product-address-list">
                    </div>
                </div>
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="css-float-left btn btn-success fn-show-final-order-button" clickcontroller="showFinalOrder">Proceed</button>-->
                <!--</div>-->
            </div>
        </div>
    </div>
    <!-- Main content -->
    <div class="css-main-page">
        <div class="container css-main-container">
          <div class="header clearfix">
            <div class="row">
                <!--<div class="glyphicon glyphicon-glass col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>-->
                <div class="css-image-bottles"></div>
                <h3 class="text-muted col-lg-4 col-md-4 col-sm-4 col-xs-4">Alchemie</h3>
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {{#if user}}
                            <!-- <li role="presentation"><a href="/">Dashboard</a></li> -->
                            <li role="presentation"><a href="/logout">Logout</a></li>
                        {{else}}
                            <li role="presentation"><a href="/login">Login</a></li>
                            <li role="presentation"><a href="/register">Register</a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>

          </div>


          <div class="row css-main-container-body-row">
            <div class="col-lg-12 fnAlertBox css-alert-box css-main-display">
              {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
              {{/if}}

              {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}}

              {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
              {{/if}}

              {{#if errors}}
                  {{#each errors}}
                      <div class="alert alert-danger">{{msg}}</div>
                  {{/each}}
              {{/if}}

              {{{body}}}
            </div>


          </div>
          <br/>
          <footer class="footer">
            <p>Block Unity Inc.</p>
          </footer>

        </div> <!-- /container -->
    </div>
    <!-- temporary data -->
    <input type="hidden" id="csrf" name="_csrf" associate="{{csrfToken}}">
    <input type="hidden" id="temporary-data-email" associate={{temporary-data-email}}>
    <input type="hidden" id="temporary-data-reset-password-link" associate={{temporary-data-reset-password-link}}>
    <input type="hidden" id="res-locals-host" associate={{host}}>
    <!-- Scripts -->
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/controller_change.js"></script>
    <script src="/js/controller_click.js"></script>
    <script src="/js/controller_drop.js"></script>
    <script src="/js/view_address_add.js"></script>
    <script src="/js/view_user_messages.js"></script>
    <script src="/js/view_modals.js"></script>
    <script src="/js/view_withdrawal_address_add.js"></script>
    <script src="/js/view_product_address_add.js"></script>
    <script src="/js/view_product_prices.js"></script>
    <script src="/js/view_products.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/thirdparty.js"></script>
    <script src="/js/initialize.js"></script> <!-- this script must be last -->
</body>
</html>
