<!DOCTYPE html>
<html>
<head>
	<title>Alchemie</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jquery-ui.structure.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.theme.min.css"/>
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
    <!-- modals -->
    <div id="fn-modal-overlay" class="css-overlay" clickcontroller="closeModals"></div>
    <div class="container modal css-password-change-2fa-modal fn-password-change-2fa-modal fn-modal">
        <form method="post">
            <div class="form-group">
                <label>Please verify your account by entering your six digit code from Google Authenticator.</label>
                <input type="text" id="change-password-2fa-input" class="form-control css-change-password-2fa-input" name="username" placeholder="000000">
            </div>
            <button type="button" class="css-float-left btn btn-default" clickcontroller="twoFactorNewPassword">Verify</button>
        </form>
    </div>
    <div class="container modal css-2fa-not-attemptable fn-2fa-not-attemptable fn-modal">
        <form method="post">
            <div class="form-group">
                <label>You have exceeded the number of 2 factor authentication attempts permitted at this time. Please try again later. </label>
            </div>
            <button type="button" class="css-float-left btn btn-default" clickcontroller="closeModals">Ok</button>
        </form>
    </div>
    <div class="container modal css-add-withdrawal-address-2fa-modal fn-add-withdrawal-address-2fa-modal fn-modal">
        <form method="post">
            <div class="form-group">
                <label>Please verify your account by entering your six digit code from Google Authenticator.</label>
                <input type="text" id="add-withdrawal-address-2fa-input" class="form-control css-add-withdrawal-address-2fa-input" name="username" placeholder="000000">
            </div>
            <button type="button" class="css-float-left btn btn-default" clickcontroller="twoFactorAddWithdrawalAddress">Verify</button>
        </form>
    </div>
    <div class="container modal css-confirm-delete-withdrawal-address-modal fn-confirm-delete-withdrawal-address-modal fn-modal">
        <form method="post">
            <div class="form-group">
                <label>Are you sure you want to remove this withdrawal address from your account?</label>
            </div>
            <button type="button" class="css-float-left btn btn-default" clickcontroller="confirmDeleteWithdrawalAddress">Ok</button>
            <button type="button" class="css-float-right btn btn-default" clickcontroller="closeModals">Cancel</button>
        </form>
    </div>
    <!-- Main content -->
    <div class="css-main-page">
        <div class="container css-main-container">
          <div class="header clearfix">
            <div class="row">
                <!--<div class="glyphicon glyphicon-glass col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>-->
                <div class="css-image-bottles"></div>
                <h3 class="text-muted col-lg-4 col-md-4 col-sm-4 col-xs-4">Alchemie</h3>
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {{#if user}}
                            <!-- <li role="presentation"><a href="/">Dashboard</a></li> -->
                            <li role="presentation"><a href="/logout">Logout</a></li>
                        {{else}}
                            <li role="presentation"><a href="/login">Login</a></li>
                            <li role="presentation"><a href="/register">Register</a></li>
                        {{/if}}
                    </ul>
                </nav>
            </div>

          </div>


          <div class="row css-main-container-body-row">
            <div class="col-lg-12 fnAlertBox css-alert-box css-main-display">
              {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
              {{/if}}

              {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
              {{/if}}

              {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
              {{/if}}

              {{{body}}}
            </div>


          </div>
          <br/>
          <footer class="footer">
            <p>Block Unity Inc.</p>
          </footer>

        </div> <!-- /container -->
    </div>
    <!-- temporary data -->
    <input type="hidden" id="temporary-data-email" value={{temporary-data-email}}>
    <input type="hidden" id="temporary-data-reset-password-link" value={{temporary-data-reset-password-link}}>
    <input type="hidden" id="res-locals-host" value={{host}}>
    <!-- Scripts -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/controller_change.js"></script>
    <script src="/js/controller_click.js"></script>
    <script src="/js/controller_drop.js"></script>
    <script src="/js/view_address_add.js"></script>
    <script src="/js/view_user_messages.js"></script>
    <script src="/js/view_modals.js"></script>
    <script src="/js/view_withdrawal_address_add.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/thirdparty.js"></script>
    <script src="/js/initialize.js"></script> <!-- this script must be last -->
</body>
</html>
